html {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
}



/* Header */
#logo {
  padding-left: 10px;
  height: 50px;
}

header {
    position: fixed;
    height: 69px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid seashell;

}

nav ul li{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: underline;
}

/* Main */
#banner{
    display: flex;
}